<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" href="/layuiadmin/layui/css/layui.css">
</head>
<body>
<h1>主页嘞!</h1>
<button id="cat">cat</button>
<input class="layui-input" id="token">
</body>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>

<script>
    layui.use('form', function () {
        var form = layui.form;

        $("#cat").click(function () {
            $.get("/dog", {}, function (res) {
                if ('0' == res.code) {
                    layer.msg(res.msg)
                } else {
                    layer.msg(res.msg)
                }
            })
        })

    });
</script>
<script>
    console.log(window.document.cookie.split(";"));
    console.log(123)
</script>
</html>
