<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet" type="text/css" href="/layuiadmin/layui/css/layui.css">
</head>
<style>
    body {
        background-image: url("/image/back.jpg");
        background-size: 100%;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .border {
        /*border: 1px solid;*/
        /*padding: 25px 50px 25px 0px*/
    }
</style>
<body>

<div class="center">
    <form class="layui-form border" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

</body>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>

<script>
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            $.post("/doLogin", data.field, function (res) {
                if ('200' == res.code) {
                    location.href = "/index";
                } else {
                    layer.alert(res.msg);
                }
            })
            return false;
        });
    });
</script>
</html>
